{{- $jsonFile := resources.Get "data/most-visited.json" -}}
{{- if $jsonFile -}}
  {{- $popularPages := transform.Unmarshal $jsonFile.Content -}}
  {{- if $popularPages -}}
    {{- if $popularPages.mostVisitedPost -}}
      <ul id="popular-posts" class="menu w-full">
        <li class="menu-title text-lg">热门帖子</li>
        {{- range $path := $popularPages.mostVisitedPost -}}
          {{- $page := $.Site.GetPage $path -}}
          {{- if $page -}}
            <li><a href="{{- $page.RelPermalink -}}">{{- $page.Title -}}</a></li>
          {{- end -}}
        {{- end -}}
      </ul>
    {{- end -}}
  {{- end -}}
{{- end -}}
