{{- $jsonFile := resources.Get "data/most-visited.json" -}}
{{- if $jsonFile -}}
  {{- $popularPages := transform.Unmarshal $jsonFile.Content -}}
  {{- if $popularPages -}}
    {{- /* try to build UUID map */ -}}
    {{- partial "function/build-uuid-map.html" -}}
    {{- if $popularPages.mostVisited -}}
      <ul id="popular-posts" class="menu w-full">
        <li class="menu-title text-lg">热门帖子</li>
        {{- range $uuid := $popularPages.mostVisited -}}
        {{- $post := site.Store.Get $uuid -}}
        {{- if $post -}}
          {{- if eq ($post.RelPermalink) ($.Page.RelPermalink) -}}
            <li><a href="{{- $post.RelPermalink -}}" class="menu-active">{{- $post.Title -}}</a></li>
          {{- else -}}
            <li><a href="{{- $post.RelPermalink -}}">{{- $post.Title -}}</a></li>
          {{- end -}}
        {{- end -}}
        {{- end -}}
      </ul>
    {{- end -}}
  {{- end -}}
{{- end -}}
