{{- $currentLink := .Permalink -}}
{{- $currentTags := .Params.tags -}}

{{- $relatedPosts := slice -}}
{{- range .Site.RegularPages -}}
  {{- if and (ne .Permalink $currentLink) (intersect .Params.tags $currentTags) -}}
    {{- $relatedPosts = $relatedPosts | append . -}}
  {{- end -}}
{{- end -}}
{{- $sortedPosts := sort $relatedPosts "Date" "desc" -}}
{{- $top10Posts := first 10 $sortedPosts -}}

{{- if gt (len $top10Posts) 0 -}}
  <ul id="related-post" class="menu w-full">
    <li class="menu-title text-lg">相关帖子</li>
    {{- range $top10Posts -}}
    <li>
      <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
    </li>
    {{- end -}}
  </ul>
{{- end -}}
