{{- $currentLink := .Permalink -}}
{{- $currentTags := .Params.tags -}}

{{- $relatedPosts := slice -}}
{{- range .Site.RegularPages -}}
  {{- if and (ne .Permalink $currentLink) (intersect .Params.tags $currentTags) -}}
    {{- $relatedPosts = $relatedPosts | append . -}}
  {{- end -}}
{{- end -}}
{{- $sortedPosts := sort $relatedPosts "Date" "desc" -}}
{{- $top10Posts := first 10 $sortedPosts -}}

{{- if gt (len $top10Posts) 0 -}}
<table id="related-post" class="table">
  <thead><tr><th class="prose-lg">相关帖子</th></tr></thead>
  <tbody>
    {{- range $top10Posts -}}
    <tr class="hover:bg-base-200 cursor-pointer" data-href="{{- .RelPermalink -}}" onclick="window.location.href=this.dataset.href">
      <td><span class="text-primary">{{- .Title -}}</span></td>
    </tr>
    {{- end -}}
  </tbody>
</table>
{{- end -}}
