{{- if .IsHome -}}
  <meta name="keywords" content="{{- delimit site.Params.Keywords ", " -}}">
  <meta name="description" content="{{- site.Params.description -}}">
{{- else if .IsPage -}}
  {{- if not (.Page.Params.aronica.crawl | default true) -}}
    <meta name="robots" content="noindex">
  {{- else -}}
    <meta name="keywords" content="{{- delimit .Keywords ", " -}}">
    <meta name="description" content="{{- .Description -}}">
    {{ $timeFormat := "2006-01-02T15:04:05-07:00" }}
    <meta property="article:published_time" {{ .Date.Format $timeFormat | printf "content=%q" | safeHTMLAttr }} >
    <meta property="article:modified_time" {{ .Lastmod.Format $timeFormat | printf "content=%q" | safeHTMLAttr }} >
  {{- end -}}
{{- else if .IsNode -}}
  {{- if gt (len .Keywords) 0 -}}
    <meta name="keywords" content="{{- delimit .Keywords ", " -}}">
  {{- end -}}

  {{- if gt (len .Description) 0 -}}
    <meta name="description" content="{{- .Description -}}">
  {{- end -}}
{{- end -}}
