{{- /* define main based on the content */ -}}
{{- define "main" -}}
  {{- $result := strings.TrimSpace .Content -}}
  {{- if eq $result "" -}}
    <main >
      <div class="menu lg:hidden">
        {{- partial "sidebar/column-toc.html" . -}}
      </div>
    </main>
  {{- else -}}
    {{- /* note: the main start from 2, leave space for navbar */ -}}
    <main class="">
      {{- /* TODO: Maybe need a param like: toc = false */ -}}
      {{- if (ne .Page.RelPermalink "/about/") -}}
      <nav class="sticky xl:fixed right-0 top-16 xl:block z-5 w-full xl:max-w-80 xl:h-[calc(100vh-4rem)] xl:overflow-y-auto bg-base-200 rounded-box">
        <details id="page-toc" class="menu w-full">
          <summary class="flex flex-row"><span class="hidden xl:block">本文目录</span>
            <span id="current-h2" class="xl:hidden">本文目录</span>
          </summary>
          <div>
            {{- .TableOfContents -}}
          </div>
        </details>
      </nav>
      {{- end -}}

      {{- partial "body/article.html" . -}}

      {{- partial "comment/waline.html" . -}}
    </main>
  {{- end -}}
{{- .Page.Store.Set "LeftSidebar" "ColumnTOC" -}}
{{- end -}}
