{{- define "main" -}}
{{- /* note: the main start from 2, leave space for navbar */ -}}
<main class="md:mt-20 md:col-start-2 md:grid md:grid-cols-3">
  {{- /* FIXME: table of contents for article, at fixed position */ -}}
  {{- if and (.IsPage) (ne .Page.RelPermalink "/about/") -}}
  <nav class="hidden md:block z-5 w-full md:w-[45ch] fixed right-0 top-16 h-[calc(100vh-4rem)] overflow-y-auto bg-base-200 rounded-box">
    <div class="menu">
      {{- .TableOfContents -}}
    </div>
  </nav>
  {{- end -}}
  <article class="px-4 md:px-8 md:col-span-2 prose">
    <h1>{{- .Title -}}</h1>
    <div id="post-meta" class="flex flex-row items-center mb-6">
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
      {{- $dateFormat := .Site.Params.DateFormat | default "2006-01-02" -}} {{-
      $dateHuman := .Date | time.Format $dateFormat -}}
      {{- partialCached "icons/calendar.html" . -}}
      <time class="text-sm text-gray-400" datetime="{{- $dateMachine -}}">
        {{- $dateHuman -}}
      </time>
    </div>
    {{- .Content -}} {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
  </article>
</main>
{{- end -}}
