{{- /* posts is a special place for my blog: it means all posts.
     * not just posts under /posts/.
     * Why? Because I want to have a place to put all posts, and
     * I don't want to create a new section for it.
     */ -}}
{{- define "main" -}}
<main class="pt-10 px-4 md:px-8 prose prose-sm md:prose-base">
    {{- $PageList := site.RegularPages.ByDate.Reverse -}}
    {{- $paginator := .Paginate $PageList 15 -}}
    <h1>最新帖子</h1>
    {{- partial "post-list.html" (dict "Pages" $paginator.Pages) -}}
    {{- partial "pagination.html" . -}}
  </main>
{{- end -}}
