{{- define "main" -}}
{{- /* note: the main start from 2, leave space for navbar */ -}}
<main class="flex flex-col md:items-center lg:items-start main-with-toc">
  {{- /* right sidebar */ -}}
  {{- if and (.IsPage) (.Params.Aronica.toc | default true ) -}}
  <nav class="sticky xl:fixed right-0 top-16 xl:block z-5 w-full xl:max-w-80 bg-base-200 rounded-box">
    <details id="page-toc" class="menu w-full">
      <summary class="flex flex-row justify-between items-center">
        <span class="hidden xl:block">本文目录</span>
        <span id="current-h2" class="xl:hidden">本文目录</span>
        <span class="xl:hidden details-open-only">
          <button class="btn btn-ghost btn-xs" onclick="event.preventDefault(); event.stopPropagation(); document.getElementById('page-toc').removeAttribute('open');">收起</button>
        </span>
      </summary>
      <div class="overflow-y-auto" style="max-height: calc(100vh - 8rem);">
        {{- .TableOfContents -}}
      </div>
    </details>
  </nav>
  {{- end -}}

  {{- partial "body/article.html" . -}}

  {{- partial "body/section-prev-next.html" . -}}

  {{- partial "comment/waline.html" . -}}
</main>
{{- .Page.Store.Set "LeftSidebar" "SiteLink" -}}
{{- end -}}
