{{- define "main" -}}
{{- /* note: the main start from 2, leave space for navbar */ -}}
<main class="flex flex-col md:items-center lg:items-start">
  {{- /* right sidebar */ -}}
  {{- if and (.IsPage) (.Params.Aronica.toc | default true ) -}}
  <nav class="sticky xl:fixed right-0 top-16 xl:block z-5 w-full xl:max-w-80 xl:h-[calc(100vh-4rem)] xl:overflow-y-auto bg-base-200 rounded-box">
    <details id="page-toc" class="menu w-full">
      <summary class="flex flex-row"><span class="hidden xl:block">本文目录</span>
        <span id="current-h2" class="xl:hidden">本文目录</span>
      </summary>
      <div>
        {{- .TableOfContents -}}
      </div>
    </details>
  </nav>
  {{- end -}}

  {{- partial "body/article.html" . -}}

  {{- partial "body/section-prev-next.html" . -}}

  {{- partial "comment/waline.html" . -}}
</main>
{{- .Page.Store.Set "LeftSidebar" "SiteLink" -}}
{{- end -}}
