<header class="hidden navbar w-full bg-base-200 sticky md:fixed top-0 z-3">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">{{- site.Title -}}</a>
  </div>

  <div class="hidden md:flex flex-row items-center">
    <button onclick="changeTheme()" class="btn btn-ghost">
      {{- partial "icons/sun.html" (dict "Class" "fill-current" "ID" "sun-icon") -}}
      {{- partial "icons/moon.html" (dict "Class" "fill-current" "ID" "moon-icon") -}}
    </button>
    <ul class="menu menu-horizontal px-1">
      {{- range site.Menus.main -}}
        <li><a href="{{- .URL -}}">{{- .Name -}}</a></li>
      {{- end -}}
    </ul>
  </div>

  <div class="flex-none md:hidden">
    <button onclick="changeTheme()">
      {{- /* sun icon */ -}}
      {{- partial "icons/sun.html" (dict "Class" "fill-primary" "ID" "sun-icon-mobile") -}}

      {{- /* moon icon */ -}}
      {{- partial "icons/moon.html" (dict "Class" "fill-primary" "ID" "moon-icon-mobile") -}}
    </button>
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="fill-primary">
              <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
          </summary>
          <ul class="bg-base-100 rounded-t-none p-1">
            {{- range site.Menus.main -}}
              <li><a href="{{- .URL -}}">{{- .Name -}}</a></li>
            {{- end -}}
          </ul>
        </details>
      </li>
    </ul>
  </div>
</header>
