<div class="flex flex-col divide-y divide-base-300 space-y-8">
  {{- range .Pages -}}
    <div class="">
      <a class="no-underline" href="{{- .RelPermalink -}}">
          <h2>{{- .LinkTitle -}}</h2>
      </a>

      <div class="inline-flex justify-between text-gray-600">
        {{- /* 发布日期 */ -}}
        {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
        {{- $dateHuman := .Date | time.Format "2006-01-02" -}}
        <span><time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time></span>
        <div class="divider divider-horizontal mx-1"></div>
        {{- /* 阅读时间 */ -}}
        <span>{{- .ReadingTime }} {{ T "minutes" }}</span>
        <div class="divider divider-horizontal mx-1"></div>
        {{- /* 字数 */ -}}
        <span>{{- .WordCount }} {{ T "words" }}</span>
      </div>

      {{- /* 标签 */ -}}
      <div class="mt-2 flex flex-wrap gap-2">
        {{ with .GetTerms "tags" }}
          {{ range . }}
            <a href="{{ .RelPermalink }}" class="badge link link-hover">#{{ .LinkTitle }}</a>
          {{ end }}
        {{ end }}
      </div>

      <p>{{- .Summary -}}</p>

      {{- /* category */ -}}
      <div class="flex flex-row justify-between items-center mt-4">
        <div class="flex flex-row">
        {{ with .GetTerms "categories" }}
          {{ range . }}
            <a href="{{ .RelPermalink }}" class="flex items-center link link-hover">
              {{- partialCached "icons/folder.html" (dict "Class" "fill-current") -}}
              <span>{{- .LinkTitle -}}</span>
            </a>
          {{ end }}
        {{ end }}
        </div>
        <a class="link link-hover flex flex-row items-center" href="{{- .RelPermalink -}}">
          <span>{{ T "readMore" }}</span>
          {{- partialCached "icons/right-arrow.html" (dict "Class" "fill-current") -}}
        </a>
      </div>
    </div>
  {{- end -}}
</div>
