<div class="not-prose max-w-prose">
  {{ range .Pages }}
  <a href="{{ .RelPermalink }}" class="no-underline">
    <div class="card dark:bg-neutral dark:text-neutral-content mt-4 mx-4">
      <div class="card-body">
        <h2 class="card-title">{{ .LinkTitle }}</h2>
        <p>
          {{ if .Summary }} {{ .Summary }} {{ else if .Description }} {{
          .Description }} {{ else }} {{ .Plain | truncate 50 }} {{ end }}
        </p>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format "2006-01-02" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
    </div>
  </a>
  {{ end }}
</div>
