{{ define "main" }}
<main class="px-4 md:mt-20 md:col-start-2 md:col-span-3 md:grid md:grid-cols-subgrid">
  <div class="md:col-span-2">
    <h1>所有分类</h1>
    {{ range .Data.Terms.Alphabetical }}
    <div tabindex="0" class="collapse collapse-arrow border-base-300 border">
      <input type="checkbox" />
      <div class="collapse-title text-xl flex flex-row bg-base-200 justify-between">
        <span>{{ .Term }}</span>
        <span class="badge badge-secondary">{{ .Count }}</span>
      </div>

      <div class="collapse-content">
        <ul class="menu w-full">
        {{ range .Pages }}
            <li>
              <a href="{{ .RelPermalink }}">
                <span>{{ .Title }}</span>
              </a>
          </li>
        {{ end }}
      </ul>
      </div>
    </div>
    {{ end }}
</div>
</main>
{{ end }}
