{{ define "main" }}
<main class="pt-10 px-4 md:px-8 w-full flex flex-col items-center">
  <article class="w-full prose prose-sm md:prose-base">
    <h1>{{ T "categories" }}</h1>
    {{ range .Data.Terms.Alphabetical }}
    <div tabindex="0" class="not-prose collapse collapse-arrow border-base-300 border">
      <input type="checkbox" />
      <div
        class="collapse-title text-xl flex flex-row bg-base-200 justify-between"
      >
        <span>{{ .Term }}</span>
        <span class="badge badge-ghost">{{ .Count }}</span>
      </div>

      <div class="collapse-content">
        <ul class="menu w-full">
          {{ range .Pages }}
          <li><a href="{{ .RelPermalink }}"><span>{{ .Title }}</span></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
  </article>
</main>
{{- .Page.Store.Set "LeftSidebar" "SiteLink" -}}
{{ end }}
