{{- /* 提取 cpp 代码, 代码分为如下几种类型:
     * 1. fullCode: 发送给Compiler Explorer的代码, 是完整版本的, 包含 include 头
     * 2. showCode: 显示给用户的代码, 是精简版本的
     * 需要注意代码块整体有缩进的情况
    */ -}}

{{- $rawCode   :=  trim .InnerDeindent "\n"  -}}
{{- $lines     :=  split $rawCode "\n"  -}}
{{- $firstLine := "" -}}
{{- if $lines -}}
    {{- $firstLine = index $lines 0 -}}
{{- end -}}

{{- $containsSpaceAndBrace := (strings.Contains $firstLine "{") -}}
{{- $cppCode := "" -}}

{{- if $containsSpaceAndBrace -}}
{{- $cppCode = $rawCode | replaceRE "(?ms:^\\s*```cpp\\s+\\{.*?\\}?\n(.*)```$)" "$1" -}}
{{- else -}}
{{- $cppCode = $rawCode | replaceRE "(?ms:^\\s*```cpp\n(.*)```$)" "$1" -}}
{{- end -}}

{{- $fullCode := trim ($cppCode | replaceRE "//({|})\\n" "") "\n" -}}
{{- $matches  := $cppCode | findRESubmatch "(?s)//{(.*?)//}" -}}
{{- $showCode := slice -}}
{{- range $match := $matches -}}
  {{- $showCode = $showCode | append (trim (index $match 1) "\n") -}}
{{- end -}}
{{- $showCode := delimit $showCode "\n" -}}
{{- if not $showCode -}}
  {{ $showCode = $cppCode }}
{{- end -}}

{{- /* trim indent */ -}}
{{- if .Get "trimIndent" | default false -}}
  {{- $result := slice -}}
  {{- $lines = split $showCode "\n" -}}
  {{- range $line := $lines -}}
    {{- if ne $line "" -}}
      {{- $result =  $result | append (strings.TrimPrefix "  " $line) -}}
    {{- end -}}
  {{- end -}}
  {{$showCode = delimit $result "\n" "\n"}}
{{- end -}}

{{- /* generate client state*/ -}}
{{- $compilerID  := .Get "compiler" | default "clang_trunk" -}}
{{- $flags       := .Get "flags" | default "-std=c++20" -}}
{{- $libs        := slice -}}

{{- /* new style library params */ -}}
{{- range $key, $value := .Params -}}
  {{- if and (ne $key "inner") (ne $key "page") (ne $key "position") (ne $key "name") -}}
    {{- /* 筛选出以 "lib-" 开头的参数 */ -}}
    {{- if hasPrefix $key "lib-" -}}
      {{- $libName := replace $key "lib-" "" -}}
      {{- $libs = $libs | append (dict "id" $libName "version" $value) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* old style library params, only for fmt and benchmark */ -}}
{{- $fmt_version := .Get "fmt_version" | default "trunk" -}}
{{- $fmt         := dict "id" "fmt" "version" $fmt_version -}}
{{- $libs        = $libs | append $fmt -}}
{{- $benchmark   := .Get "benchmark" | default "" -}}
{{- if $benchmark -}}
{{- $libs        = $libs | append (dict "id" "benchmark" "version" $benchmark) -}}
{{- end -}}
{{- $compiler    := dict "id" $compilerID "libs" $libs "options" $flags -}}
{{- $executor    := dict "compiler" $compiler -}}
{{- $session     := dict "id" 1 "language" "c++" "source" $fullCode "compilers" (slice) "executors" (slice $executor) -}}
{{- $clientState := dict "sessions" (slice $session) -}}

{{- $clientstate_b64 := replace ($clientState | jsonify | base64Encode) "/" "%2F" -}}

{{- .Page.Store.Set "CompilerExploreClientState" $clientstate_b64 -}}
{{- $showCode = add $firstLine "\n" $showCode  "\n```" -}}
{{- $showCode | .Page.RenderString -}}
{{- .Page.Store.Delete "CompilerExploreClientState" -}}
