{{- /*
    * PostRef support reference post with path, it will
    * generate a link to the post with the given path.
    * and auto insert the post title as link text.
*/ -}}

{{- $path := cond (.IsNamedParams) (.Get "path") (.Get 0)  -}}

{{- if not $path -}}
   {{- errorf "PostRef: path is required" -}}
{{- end -}}

{{- $post := site.GetPage $path -}}
{{- if not $post -}}
   {{- errorf "PostRef: path %q not found" $path -}}
{{- end -}}

<a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a>
